    <!-- COUNTDOWN AREA START -->
    <div class="ltn__countdown-area section-bg-1 bg-image-right mt-70" data-bs-bg="img/bg/2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="ltn__countdown-info ltn__countdown-4-info text-center--- pt-100 pb-100">
                        <div class="section-title-area ltn__section-title-2--- mb-0---">
                            <h6 class="ltn__secondary-color">Deal of the day</h6>
                            <!-- <h1 class="section-title">Hot Deal ! Sale Up To <span>25% Off</span></h1> -->
                            <h1 class="section-title">Shop Your Flower <br>
                                Best Offer- $12</span></h1>
                        </div>
                        <div class="ltn__countdown ltn__countdown-4 mb-15" data-countdown="2021/09/25"></div>
                        <div class="btn-wrapper animated">
                            <a href="shop.html" class="theme-btn-2 btn btn-round">Shop now</a>
                        </div>
                        <div class="countdown-img d-none d-xl-block">
                            <img src="img/bg/3.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COUNTDOWN AREA END -->